{% extends "layout/app.html" %} {% block content %}
<!-- Banner -->
<div class="banner py-0">
  <!-- START Home 1 REVOLUTION SLIDER 6.6.11 -->
  <p class="rs-p-wp-fix"></p>
  <rs-module-wrap
    id="rev_slider_5_1_wrapper"
    data-alias="home-12"
    data-source="gallery"
    style="
      visibility: hidden;
      background: transparent;
      padding: 0;
      margin: 0px auto;
      margin-top: 0;
      margin-bottom: 0;
    "
  >
    <rs-module id="rev_slider_5_1" data-version="6.6.11">
      <rs-slides style="overflow: hidden; position: absolute">
        <rs-slide
          style="position: absolute"
          data-key="rs-13"
          data-title="Slide"
          data-anim="adpr:false;ms:300;"
          data-in="o:0;"
          data-out="a:false;"
        >
          <img
            src="{{ url_for('static', filename='rev/assets/dummy.png')}}"
            alt="Slide"
            class="rev-slidebg tp-rs-img rs-lazyload"
            data-lazyload="rev/assets/transparent.png')}}"
            data-bg="p:center bottom;c:#14141d;"
            data-no-retina
          />
          <!--
    							--><rs-layer
            id="slider-5-slide-13-layer-2"
            data-type="shape"
            data-rsp_ch="on"
            data-xy="xo:-1190px,-982px,-746px,-460px;"
            data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
            data-dim="w:3611px,2981px,2264px,1396px;h:540px,445px,338px,335px;"
            data-frame_999="o:0;st:w;"
            style="z-index: 7; background-color: #0c0d11"
          >
          </rs-layer
          ><!--
    
    							--><rs-layer
            id="slider-5-slide-13-layer-3"
            data-type="text"
            data-rsp_ch="on"
            data-xy="x:l,l,c,c;xo:30px,15px,0,0;yo:260px,217px,175px,177px;"
            data-text="w:normal;s:60,48,42,34;l:68,56,50,42;ls:1px;fw:700;a:left,left,center,center;"
            data-dim="w:1068px,793px,661px,353px;"
            data-frame_0="y:50,41,31,19;"
            data-frame_1="st:800;sp:1000;sR:800;"
            data-frame_999="o:0;st:w;sR:7200;"
            style="
              z-index: 11;
              font-family: 'Barlow';
              text-transform: uppercase;
            "
            >play chess game any where<br /> </rs-layer
          ><!--
    
    							--><rs-layer
            id="slider-5-slide-13-layer-5"
            data-type="text"
            data-color="#c9c6c6"
            data-rsp_ch="on"
            data-xy="x:l,l,c,c;xo:30px,15px,0,0;yo:346px,282px,233px,143px;"
            data-text="w:normal;s:16,14,14,8;l:28,26,22,13;a:left,left,center,center;"
            data-dim="w:776px,640px,653px,402px;"
            data-vbility="t,t,t,f"
            data-frame_0="y:50,41,31,19;"
            data-frame_1="st:1000;sp:1000;"
            data-frame_999="o:0;st:w;"
            style="z-index: 12; font-family: 'Poppins'"
            >There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered injected humour, or randomised words
            which don't look even slightly believable. If you are goingto use
            consectetur. Bibendum est ultricies integer quis auct elit sed.<br /> </rs-layer
          ><!--
    
    							--><rs-layer
            id="slider-5-slide-13-layer-6"
            data-type="image"
            data-rsp_ch="on"
            data-xy="x:c;xo:60px,49px,37px,-13px;y:t,t,t,b;yo:457px,377px,286px,0;"
            data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
            data-dim="w:2085px,1721px,1307px,521px;h:1086px,896px,680px,263px;"
            data-frame_999="o:0;st:w;"
            style="z-index: 6"
            ><img
              src="{{ url_for('static', filename='rev/assets/dummy.png')}}"
              alt=""
              class="tp-rs-img rs-lazyload"
              width="1920"
              height="1000"
              data-lazyload="rev/assets/1-7.jpg')}}"
              data-no-retina
            /> </rs-layer
          ><!--
    -->
        </rs-slide>
        <rs-slide
          style="position: absolute"
          data-key="rs-20"
          data-title="Slide"
          data-anim="adpr:false;ms:300;"
          data-in="o:0;"
          data-out="a:false;"
        >
          <img
            src="{{ url_for('static', filename='rev/assets/dummy.png')}}"
            alt="Slide"
            class="rev-slidebg tp-rs-img rs-lazyload"
            data-lazyload="rev/assets/transparent.png')}}"
            data-bg="p:center bottom;c:#14141d;"
            data-no-retina
          />
          <!--
    							--><rs-layer
            id="slider-5-slide-20-layer-2"
            data-type="shape"
            data-rsp_ch="on"
            data-xy="xo:-1190px,-982px,-746px,-460px;"
            data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
            data-dim="w:3611px,2981px,2264px,1396px;h:540px,445px,338px,335px;"
            data-frame_999="o:0;st:w;"
            style="z-index: 7; background-color: #0c0d11"
          >
          </rs-layer
          ><!--
    
    							--><rs-layer
            id="slider-5-slide-20-layer-3"
            data-type="text"
            data-rsp_ch="on"
            data-xy="x:l,l,c,c;xo:30px,15px,0,0;yo:260px,217px,175px,177px;"
            data-text="w:normal;s:60,48,42,34;l:68,56,50,42;ls:1px;fw:700;a:left,left,center,center;"
            data-dim="w:1068px,793px,661px,353px;"
            data-frame_0="y:50,41,31,19;"
            data-frame_1="st:800;sp:1000;sR:800;"
            data-frame_999="o:0;st:w;sR:7200;"
            style="
              z-index: 11;
              font-family: 'Barlow';
              text-transform: uppercase;
            "
            >Play vs Computer<br /> </rs-layer
          ><!--
    
    							--><rs-layer
            id="slider-5-slide-20-layer-5"
            data-type="text"
            data-color="#c9c6c6"
            data-rsp_ch="on"
            data-xy="x:l,l,c,c;xo:30px,15px,0,0;yo:346px,282px,233px,143px;"
            data-text="w:normal;s:16,14,14,8;l:28,26,22,13;a:left,left,center,center;"
            data-dim="w:776px,640px,653px,402px;"
            data-vbility="t,t,t,f"
            data-frame_0="y:50,41,31,19;"
            data-frame_1="st:1000;sp:1000;"
            data-frame_999="o:0;st:w;"
            style="z-index: 12; font-family: 'Poppins'"
            >There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered injected humour, or randomised words
            which don't look even slightly believable. If you are goingto use
            consectetur. Bibendum est ultricies integer quis auct elit sed.<br /> </rs-layer
          ><!--
    
    							--><rs-layer
            id="slider-5-slide-20-layer-6"
            data-type="image"
            data-rsp_ch="on"
            data-xy="x:c;xo:60px,49px,37px,-13px;y:t,t,t,b;yo:457px,377px,286px,0;"
            data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
            data-dim="w:2085px,1721px,1307px,521px;h:1086px,896px,680px,263px;"
            data-frame_999="o:0;st:w;"
            style="z-index: 6"
            ><img
              src="{{ url_for('static', filename='rev/assets/dummy.png')}}"
              alt=""
              class="tp-rs-img rs-lazyload"
              width="1920"
              height="1000"
              data-lazyload="rev/assets/2-7.jpg')}}"
              data-no-retina
            /> </rs-layer
          ><!--
    -->
        </rs-slide>
        <rs-slide
          style="position: absolute"
          data-key="rs-21"
          data-title="Slide"
          data-anim="adpr:false;ms:300;"
          data-in="o:0;"
          data-out="a:false;"
        >
          <img
            src="{{ url_for('static', filename='rev/assets/dummy.png')}}"
            alt="Slide"
            class="rev-slidebg tp-rs-img rs-lazyload"
            data-lazyload="rev/assets/transparent.png')}}"
            data-bg="p:center bottom;c:#14141d;"
            data-no-retina
          />
          <!--
    							--><rs-layer
            id="slider-5-slide-21-layer-2"
            data-type="shape"
            data-rsp_ch="on"
            data-xy="xo:-1190px,-982px,-746px,-460px;"
            data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
            data-dim="w:3611px,2981px,2264px,1396px;h:540px,445px,338px,335px;"
            data-frame_999="o:0;st:w;"
            style="z-index: 7; background-color: #0c0d11"
          >
          </rs-layer
          ><!--
    
    							--><rs-layer
            id="slider-5-slide-21-layer-3"
            data-type="text"
            data-rsp_ch="on"
            data-xy="x:l,l,c,c;xo:30px,15px,0,0;yo:260px,217px,175px,177px;"
            data-text="w:normal;s:60,48,42,34;l:68,56,50,42;ls:1px;fw:700;a:left,left,center,center;"
            data-dim="w:1068px,793px,661px,353px;"
            data-frame_0="y:50,41,31,19;"
            data-frame_1="st:800;sp:1000;sR:800;"
            data-frame_999="o:0;st:w;sR:7200;"
            style="
              z-index: 11;
              font-family: 'Barlow';
              text-transform: uppercase;
            "
            >Test your gaming skills vs AI<br /> </rs-layer
          ><!--
    
    							--><rs-layer
            id="slider-5-slide-21-layer-5"
            data-type="text"
            data-color="#c9c6c6"
            data-rsp_ch="on"
            data-xy="x:l,l,c,c;xo:30px,15px,0,0;yo:346px,282px,233px,143px;"
            data-text="w:normal;s:16,14,14,8;l:28,26,22,13;a:left,left,center,center;"
            data-dim="w:776px,640px,653px,402px;"
            data-vbility="t,t,t,f"
            data-frame_0="y:50,41,31,19;"
            data-frame_1="st:1000;sp:1000;"
            data-frame_999="o:0;st:w;"
            style="z-index: 12; font-family: 'Poppins'"
            >There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered injected humour, or randomised words
            which don't look even slightly believable. If you are goingto use
            consectetur. Bibendum est ultricies integer quis auct elit sed.<br /> </rs-layer
          ><!--
    
    							--><rs-layer
            id="slider-5-slide-21-layer-6"
            data-type="image"
            data-rsp_ch="on"
            data-xy="x:c;xo:60px,49px,37px,-13px;y:t,t,t,b;yo:457px,377px,286px,0;"
            data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
            data-dim="w:2085px,1721px,1307px,521px;h:1173px,968px,735px,263px;"
            data-frame_999="o:0;st:w;"
            style="z-index: 6"
            ><img
              src="{{ url_for('static', filename='rev/assets/dummy.png')}}"
              alt=""
              class="tp-rs-img rs-lazyload"
              width="1920"
              height="1080"
              data-lazyload="rev/assets/3-12.jpg')}}"
              data-no-retina
            /> </rs-layer
          ><!--
    -->
        </rs-slide>
      </rs-slides>
    </rs-module>
  </rs-module-wrap>
  <!-- END REVOLUTION SLIDER -->
</div>
<!-- Banner -->

<!-- Gaming -->
<section class="gaming pq-bg-dark">
  <div class="container">
    <div class="row align-items-center flex-column-reverse flex-xl-row">
      <div class="col-xl-6 pq-pe-30 mt-4 mt-xl-0">
        <div class="pq-section-title-style-1">
          <h2 class="pq-section-main-title">enjoy chess with no limits</h2>
          <p class="pq-section-description">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more or less normal English.
          </p>
        </div>
        <div class="divider pq-divider-spacing"></div>
        <div class="pq-icon-boxes pq-mb-45">
          <div class="pq-icon-box pq-style-1">
            <div class="pq-icon">
              <i class="ion ion-ios-checkmark-outline"></i>
            </div>
            <div class="pq-icon-box-content">
              <h6 class="pq-icon-box-title">24/7 Game</h6>
            </div>
          </div>
          <div class="pq-icon-box pq-style-1">
            <div class="pq-icon">
              <i class="ion ion-ios-checkmark-outline"></i>
            </div>
            <div class="pq-icon-box-content">
              <h6 class="pq-icon-box-title">Fast & Interesting</h6>
            </div>
          </div>
        </div>
        <div class="pq-btn-container">
          <div class="pq-button-block">
            <a class="pq-button pq-button-flat" href="play">
              <span class="pq-button-text">Play now</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <img
          src="{{ url_for('static', filename='chess/chess3.jpg')}}"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- Gaming -->

<!-- Connect & Play -->
<section class="connect-and-play pq-bg-img-1 pq-bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-xl-6">
        <div class="pq-sticky-top">
          <div class="pq-section-title-style-1">
            <h2 class="pq-section-main-title">Register and play your games</h2>
          </div>
        </div>
      </div>
      <div class="col-xl-6 mt-5 mt-xl-0">
        <div class="pq-icon-box pq-style-2">
          <div class="pq-icon">
            <i class="flaticon-gaming-1"></i>
          </div>
          <div class="pq-icon-box-content">
            <h4 class="pq-icon-box-title">high-end gaming</h4>
            <p class="pq-icon-box-description">
              It is a long established fact that a reader of a page when looking
              at its layout. The point of using Lorem Ipsum is that it have
              evolved over the years, sometimes has a more.
            </p>
          </div>
        </div>
        <div class="pq-icon-box pq-style-2">
          <div class="pq-icon">
            <i class="flaticon-online-gaming"></i>
          </div>
          <div class="pq-icon-box-content">
            <h4 class="pq-icon-box-title">Play whenever you like</h4>
            <p class="pq-icon-box-description">
              It is a long established fact that a reader of a page when looking
              at its layout. The point of using Lorem Ipsum is that it have
              evolved over the years, sometimes has a more.
            </p>
          </div>
        </div>
        <div class="pq-icon-box pq-style-2">
          <div class="pq-icon">
            <i class="flaticon-gaming-3"></i>
          </div>
          <div class="pq-icon-box-content">
            <h4 class="pq-icon-box-title">test the AI brain</h4>
            <p class="pq-icon-box-description">
              It is a long established fact that a reader of a page when looking
              at its layout. The point of using Lorem Ipsum is that it have
              evolved over the years, sometimes has a more.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Connect & Play -->

<!-- Process -->
<section class="process pq-bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="pq-section-title-style-1 text-center">
          <h2 class="pq-section-main-title">cloud gaming process</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="pq-process-step pq-process-1 left">
          <img
            decoding="async"
            class="pq-before-img"
            src="{{ url_for('static', filename='images/process/shape/1.png')}}"
            alt="arrow-img"
          />
          <div class="pq-process-img">
            <img
              decoding="async"
              src="{{ url_for('static', filename='chess/chess2.avif')}}"
              alt="process-image"
            />
          </div>
          <div class="pq-process-info">
            <h2 class="pq-process-title">1. Open the website</h2>
            <p class="pq-process-description">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters, as opposed
            </p>
          </div>
        </div>
        <div class="pq-reverse-process pq-process-step pq-process-1 left">
          <img
            decoding="async"
            class="pq-before-img"
            src="{{ url_for('static', filename='chess/shape/1.png')}}"
            alt="arrow-img"
          />
          <div class="pq-process-img">
            <img
              decoding="async"
              src="{{ url_for('static', filename='chess/chess6.avif')}}"
              alt="process-image"
            />
          </div>
          <div class="pq-process-info">
            <h2 class="pq-process-title">2. Create your account</h2>
            <p class="pq-process-description">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters, as opposed
            </p>
          </div>
        </div>
        <div class="before-img-none pq-process-step pq-process-1 left mb-0">
          <img
            decoding="async"
            class="pq-before-img"
            src="{{ url_for('static', filename='images/process/shape/1.png')}}"
            alt="arrow-img"
          />
          <div class="pq-process-img">
            <img
              decoding="async"
              src="{{ url_for('static', filename='chess/chess1.jpeg')}}"
              alt="process-image"
            />
          </div>
          <div class="pq-process-info">
            <h2 class="pq-process-title">3. start playing</h2>
            <p class="pq-process-description">
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters, as opposed
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Process -->

<!-- Devices -->
<section class="devices pq-bg-grey pq-bg-img-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="pq-section-title-style-1 text-center">
          <h2 class="pq-section-main-title">You can play on all devices</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="pq-image-box pq-style-1 pq-mb-60">
          <div class="item">
            <div class="pq-image-box-media">
              <img
                decoding="async"
                src="{{ url_for('static', filename='images/devices/1.png')}}"
                alt="box"
              />
            </div>
            <div class="pq-image-box-info">
              <h5 class="pq-image-box-title">windows pc</h5>
            </div>
          </div>
          <div class="item">
            <div class="pq-image-box-media">
              <img
                decoding="async"
                src="{{ url_for('static', filename='images/devices/2.png')}}"
                alt="box"
              />
            </div>
            <div class="pq-image-box-info">
              <h5 class="pq-image-box-title">android tv</h5>
            </div>
          </div>
          <div class="item">
            <div class="pq-image-box-media">
              <img
                decoding="async"
                src="{{ url_for('static', filename='images/devices/3.png')}}"
                alt="box"
              />
            </div>
            <div class="pq-image-box-info">
              <h5 class="pq-image-box-title">chrome</h5>
            </div>
          </div>
          <div class="item">
            <div class="pq-image-box-media">
              <img
                decoding="async"
                src="{{ url_for('static', filename='images/devices/4.png')}}"
                alt="box"
              />
            </div>
            <div class="pq-image-box-info">
              <h5 class="pq-image-box-title">android</h5>
            </div>
          </div>
          <div class="item">
            <div class="pq-image-box-media">
              <img
                decoding="async"
                src="{{ url_for('static', filename='images/devices/5.png')}}"
                alt="box"
              />
            </div>
            <div class="pq-image-box-info">
              <h5 class="pq-image-box-title">safari</h5>
            </div>
          </div>
          <div class="item">
            <div class="pq-image-box-media">
              <img
                decoding="async"
                src="{{ url_for('static', filename='images/devices/6.png')}}"
                alt="box"
              />
            </div>
            <div class="pq-image-box-info">
              <h5 class="pq-image-box-title">edge</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
