<footer id="pq-footer">
  <div class="pq-footer-style-1">
    <div class="pq-copyright-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="pq-copyright">
              Copyright 2023 FPIChess All Rights Reserved.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->

<!-- Back to Top -->
<div id="back-to-top">
  <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!-- back to Top -->
