<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>FPIChess - Play Chess</title>
  <!-- Favicon -->
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='chess/favicon.png')}}"
  />
  <!-- Bootstrap -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/bootstrap.min.css')}}"
  />
  <!-- Rev-slider -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='rev/css/rs6.css')}}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='rev/fonts/font-awesome/css/font-awesome.css')}}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='rev/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css')}}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='rev/fonts/pe-icon-7-stroke/css/helper.css')}}"
  />
  <!-- Animations -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/animations.min.css')}}"
  />
  <!-- Icons -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='fonts/font-awesome/css/all.min.css')}}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/ionicons.min.css')}}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='fonts/themify-icons/themify-icons.css')}}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='fonts/flaticon/flaticon.css')}}"
  />
  <!-- Magnific Popup -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/magnific-popup.min.css')}}"
  />
  <!-- Style -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/style.css')}}"
  />
  <!-- Responsive -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/responsive.css')}}"
  />
</head>
