<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<!-- Owl Carousel -->
<script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<!-- Wow -->
<script src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
<!-- Magnefic Popup -->
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
<!-- Revslider -->
<script src="{{ url_for('static', filename='rev/js/rbtools.min.js')}}"></script>
<script src="{{ url_for('static', filename='rev/js/rs6.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/rev-custom.js')}}"></script>
<!-- Custom -->
<script src="{{ url_for('static', filename='js/custom.js')}}"></script>
